/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

[data-tooltip] {
  cursor: pointer;
  position: relative; }

[data-tooltip]:before {
  background-color: #333333;
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  left: 50%;
  line-height: 1.2;
  opacity: 0;
  padding: 0.5em 0.6em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(0);
  transition-duration: 300ms;
  transition-property: opacity, transform;
  visibility: hidden;
  white-space: nowrap; }

[data-tooltip]:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-4px);
  visibility: visible; }

[data-tooltip].is-copied:before {
  background: #23d160;
  content: "Copied!"; }

.highlight {
  background-color: #222;
  color: #f8f8f2; }
  .highlight .hll {
    background-color: #49483e; }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    background-color: #222;
    color: #f92672; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #66d9ef; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #66d9ef; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #fd9720; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }
  .highlight .gu {
    color: #75715e; }
  .highlight .gd {
    color: #f92672; }
  .highlight .gi {
    color: #a6e22e; }

html {
  background: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

body {
  color: #4d4d4d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.6; }

a,
button,
input,
textarea {
  outline: none; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: background, border-bottom-color, color; }

code,
kbd,
samp {
  font-family: monospace, "Source Code Pro", "Consolas", "Monaco", "Courier", monospace;
  font-size: 0.9em; }

img {
  max-height: 100%;
  max-width: 100%; }

strong {
  color: #333333; }

pre {
  white-space: pre;
  word-wrap: normal; }
  pre code {
    font-size: 1em;
    padding: 0; }

textarea {
  max-height: 100%;
  max-width: 100%; }

html ::-moz-selection {
  background: #ff470f;
  color: #fff; }

html ::selection {
  background: #ff470f;
  color: #fff; }

@media (min-width: 800px) {
  html {
    font-size: 18px;
    padding-left: 226px; } }

.input,
.textarea,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #f2f2f2;
  border: none;
  font-size: 1em;
  line-height: 1.6;
  padding: 0.6em 1em; }

.textarea {
  max-height: 100%;
  max-width: 100%;
  min-height: 6em; }

.button {
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 700;
  padding-left: 1.2em;
  padding-right: 1.2em;
  text-align: center;
  transition-duration: 300ms;
  transition-property: background, box-shadow, color, transform;
  will-change: box-shadow; }
  .button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .button:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
    transform: translateY(0); }

.button.is-primary {
  background: #ff470f;
  color: #fff; }
  .button.is-primary:hover {
    background: #f53900; }
  .button.is-primary:active {
    background: #db3300; }

.button.is-facebook {
  background: #3b5998;
  color: #fff; }
  .button.is-facebook:hover {
    background: #344e86; }
  .button.is-facebook:active {
    background: #2d4373; }

.button.is-twitter {
  background: #55acee;
  color: #fff; }
  .button.is-twitter:hover {
    background: #3ea1ec; }
  .button.is-twitter:active {
    background: #2795e9; }

.icon {
  display: block;
  pointer-events: none;
  position: relative;
  transition-duration: 300ms;
  transition-property: opacity; }

.icon.is-back {
  height: 7px;
  transform: rotate(-45deg);
  transform-origin: center center;
  width: 7px; }
  .icon.is-back:before, .icon.is-back:after {
    background: #fff;
    border-radius: 4px;
    content: "";
    display: block;
    transition-duration: 300ms;
    transition-property: background; }
  .icon.is-back:before {
    height: 2px; }
  .icon.is-back:after {
    height: 7px;
    margin-top: -2px;
    width: 2px; }

.icon.is-close {
  height: 14px;
  transform: rotate(45deg);
  transform-origin: center center;
  width: 14px; }
  .icon.is-close:before, .icon.is-close:after {
    background: #fff;
    border-radius: 4px;
    content: "";
    display: block;
    position: absolute; }
  .icon.is-close:before {
    height: 4px;
    left: 0;
    margin-top: -2px;
    top: 50%;
    width: 14px; }
  .icon.is-close:after {
    height: 14px;
    left: 50%;
    margin-left: -2px;
    top: 0;
    width: 4px; }

.icon.is-search {
  border: 2px solid gray;
  border-radius: 290486px;
  height: 12px;
  transform: rotate(-45deg) translateX(4px) translateY(-5px);
  transform-origin: center center;
  width: 12px; }
  .icon.is-search:before {
    background: gray;
    border-radius: 290486px;
    content: "";
    height: 7px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 100%;
    width: 2px; }

.menu {
  background: #fff;
  background: lavender;
  display: none;
  position: relative; }

.menu-header {
  padding: 1.5rem; }

.menu-logo {
  align-items: center;
  background: #ff470f;
  display: flex;
  justify-content: center; }
  .menu-logo figure {
    align-items: center;
    display: flex;
    justify-content: center;
    visibility: hidden;
    width: 190px; }
  .menu-logo img {
    display: block; }

.menu-logo-icon {
  height: 24px;
  position: relative;
  width: 21px; }

.menu-logo-type {
  height: 18.5px;
  margin-bottom: 6px;
  margin-left: 9px;
  width: 160px; }

.menu-collections {
  border-top: 1px solid #e6e6e6;
  padding: 1rem; }
  .menu-collections li {
    display: inline-block;
    vertical-align: top; }
  .menu-collections p {
    margin-top: 0.5em; }

.menu-collection-link {
  border-radius: 2px;
  padding: 3px 6px; }
  .menu-collection-link:hover {
    background: #ff470f;
    color: #fff; }

.menu-collection-link--active {
  background: #ff470f;
  color: #fff; }

.menu-nav {
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; }

.menu-search {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative; }
  .menu-search input {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 1em;
    padding-left: 2.5rem;
    width: 100%; }
    .menu-search input:focus + .icon {
      opacity: 1; }
  .menu-search .icon {
    left: 1rem;
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
    top: 50%; }

.menu-list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.8rem;
  justify-content: flex-start;
  overflow: hidden;
  position: relative; }
  .menu-list ul {
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    overflow: auto; }
  .menu-list .menu-link {
    display: block;
    padding: 0.75rem 2rem;
    transition: none; }
  .menu-list.is-searching .menu-item {
    display: none; }
    .menu-list.is-searching .menu-item.is-highlighted, .menu-list.is-searching .menu-item.is-selected {
      display: block; }

.menu-item .highlight {
  background: #ffdd57;
  color: #310736; }

.menu-item:hover, .menu-item.is-selected {
  background: #ff470f;
  color: #fff; }
  .menu-item:hover .menu-item-name, .menu-item.is-selected .menu-item-name {
    color: #fff; }

.menu-list-shadow {
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0; }
  .menu-list-shadow.is-top {
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
    height: 1rem;
    top: 0;
    transform-origin: center top; }
  .menu-list-shadow.is-bottom {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    bottom: 0;
    height: 1rem;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom; }

.menu-close {
  align-items: center;
  background: #3273dc;
  color: #fff;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  text-align: center; }
  .menu-close strong {
    color: #fff; }
  .menu-close .icon {
    margin-right: 0.25rem;
    margin-top: 1px; }

.menu-hello {
  background: #fff; }

#huggingFace {
  background: #fff;
  color: #333333;
  display: none;
  font-size: 16px;
  line-height: 1.4;
  padding: 1.5rem;
  padding-bottom: 1rem; }
  #huggingFace img {
    height: 24px;
    margin-top: -4px;
    vertical-align: middle;
    width: 24px; }
  #huggingFace strong {
    position: relative; }
    #huggingFace strong:before {
      background: #9efff0;
      background: #ff470f;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      right: 0; }
  #huggingFace p {
    margin-bottom: 0.5em; }

#carbon {
  display: none;
  font-size: 14px;
  line-height: 1.2;
  min-height: 218px; }

#carbonads a,
#carbonads img,
#carbonads span {
  display: block;
  max-width: 240px; }

#carbonads .carbon-wrap a:first-child {
  height: calc(100px + 1rem);
  padding: 1rem 1rem 0; }

#carbonads .carbon-wrap a:last-child {
  padding: 0.5rem 1rem 0; }

#carbonads .carbon-poweredby {
  color: gray;
  padding: 0.5rem 1rem 1rem; }

#carbonads:hover .carbon-wrap a:last-child {
  text-decoration: underline; }

#placeholder {
  display: block;
  font-size: 14px;
  line-height: 1.2; }

.placeholder-image {
  height: calc(100px + 1rem);
  padding: 1rem 1rem 0; }
  .placeholder-image div {
    background: #f2f2f2;
    height: 100px;
    width: 150px; }

.placeholder-content {
  padding: 0.5rem 1rem 0; }
  .placeholder-content div {
    background: #f2f2f2;
    height: 1em;
    margin-bottom: 0.2em; }
    .placeholder-content div:last-child {
      width: 30%; }

.placeholder-footer {
  padding: 0.5rem 1rem 1rem; }
  .placeholder-footer div {
    background: #f2f2f2;
    height: 1em;
    width: 40%; }

@media (max-width: 799px) {
  .menu-collections {
    text-align: center; }
    .menu-collections li {
      margin: 0.25rem; }
  .menu-nav {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    display: none;
    position: fixed; }
    .menu-nav.is-active {
      display: flex; }
  #huggingFace {
    padding: 2rem; }
  #carbonads .carbon-wrap a:first-child,
  #carbonads .carbon-wrap a:last-child,
  #carbonads .carbon-poweredby {
    padding-left: 2rem;
    padding-right: 2rem; } }

@media (min-width: 800px) {
  .menu {
    align-items: stretch;
    background: #fff;
    bottom: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 226px; }
  .menu-header {
    flex-grow: 0;
    flex-shrink: 0; }
  .menu-collections {
    font-size: 0.8rem;
    padding-left: 1rem; }
  .menu-nav {
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1; }
  .menu-list .menu-link {
    padding: 0.25rem 1rem; }
  .menu-hello {
    background: #fff;
    flex-grow: 0;
    flex-shrink: 0; }
  .menu-close {
    display: none; } }

.header {
  align-items: center;
  background: #072336;
  color: #135e90;
  display: flex;
  justify-content: flex-start;
  padding: 3rem 2rem;
  position: relative;
  text-align: left; }

.header-figure {
  background-image: url("../images/html-reference-title.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 486px 96px;
  background: #ff470f;
  display: inline-block;
  height: 96px;
  overflow: hidden;
  text-indent: -290486px;
  vertical-align: top;
  width: 486px; }
  @media (max-width: 600px) {
    .header-figure {
      background-size: 243px 48px;
      height: 48px;
      width: 243px; } }

.header-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.header-subtitle {
  color: #81c3ef;
  max-width: 40em; }
  .header-subtitle a {
    border-bottom: 1px solid rgba(129, 195, 239, 0.2);
    color: #81c3ef; }
    .header-subtitle a:hover {
      border-bottom-color: #81c3ef;
      color: #81c3ef; }
  .header-subtitle strong {
    color: #81c3ef; }

.back {
  align-items: center;
  background: #3273dc;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  justify-content: flex-start;
  padding: 1rem 1.2rem; }
  .back strong {
    color: inherit;
    margin-left: 1em; }
  .back:hover {
    background: #ff470f;
    color: #072336; }
    .back:hover .icon:before,
    .back:hover .icon:after {
      background: #072336; }

@media (min-width: 800px) {
  .header {
    justify-content: center;
    min-height: 400px;
    padding: 4rem;
    text-align: center; } }

.footer {
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  right: 0; }

.footer-title {
  align-items: center;
  color: gray;
  display: none;
  line-height: 1.2;
  padding: 0 1rem; }
  .footer-title small {
    font-size: 0.8em;
    margin-left: 0.5em; }
  .footer-title a {
    border-radius: 2px;
    margin-left: -4px;
    padding: 2px 4px; }
    .footer-title a:hover {
      background: #ff470f;
      color: #fff; }

.footer-facebook,
.footer-github {
  align-items: center;
  display: none;
  flex-shrink: 0;
  justify-content: flex-end; }
  .footer-facebook iframe,
  .footer-github iframe {
    height: 20px; }

.footer-share {
  align-items: center;
  display: flex;
  position: relative; }

.footer-share--contribute {
  display: none; }

.footer-share-label {
  margin-right: 0.25rem; }

.footer-share-button {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  position: relative;
  width: 2rem; }
  .footer-share-button:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #f2f2f2;
    border-radius: 5px;
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    transform: scale(1.2);
    transform-origin: center center;
    transition-duration: 300ms;
    transition-property: opacity, transform;
    width: 100%; }
  .footer-share-button svg {
    height: 1rem;
    position: relative;
    width: 1rem; }
  .footer-share-button:hover:before {
    opacity: 1;
    transform: scale(1); }

.footer-share-nav {
  align-items: center;
  bottom: 0;
  display: flex;
  font-weight: 700;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 0; }

@media (max-width: 799px) {
  .footer-share--social {
    padding: 0.5rem 1rem; } }

@media (min-width: 800px) {
  .footer {
    align-items: stretch;
    display: flex;
    font-size: 0.8rem;
    height: 3rem;
    left: 226px; }
  .footer-share,
  .footer-facebook,
  .footer-github {
    display: flex; }
  .footer-title {
    display: none;
    padding: 0.25rem 1rem; }
  .footer-share {
    border-left: 1px solid #e6e6e6;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.25rem 1rem; }
  .footer-share-nav {
    display: none; } }

@media (min-width: 1000px) {
  .footer-title {
    display: flex; } }

.heading {
  background: #072336;
  color: #81c3ef;
  padding: 4rem 3rem; }

.heading-title {
  font-size: 2rem;
  line-height: 1.2; }
  .heading-title strong {
    color: #fff;
    font-weight: 700; }

.finder {
  margin: 3rem;
  max-width: 50%;
  position: relative; }
  .finder .menu-search {
    border: 1px solid #e6e6e6; }
    .finder .menu-search input {
      font-size: 1rem; }

.finder-list.is-searching .finder-item {
  display: none; }
  .finder-list.is-searching .finder-item.is-highlighted, .finder-list.is-searching .finder-item.is-selected {
    display: block; }

.finder-item {
  align-items: stretch;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-top: -1px;
  position: relative; }
  .finder-item.is-selected {
    background: #ffdd57;
    border-color: #ffdd57;
    z-index: 1; }

.finder-item-link {
  display: block;
  padding: 0.5em 1em;
  transition: none; }
  .finder-item-link:hover {
    background: lightyellow; }
  .finder-item-link .highlight {
    background: #ffdd57;
    color: #310736; }

.finder-item-meta {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0; }
  .finder-item-meta .tag {
    font-size: 12px;
    font-weight: normal;
    margin-left: 1em; }

.list {
  padding-bottom: 3rem;
  position: relative; }
  .list .menu-search input {
    font-size: 1rem; }

.list-list.is-searching .menu-item {
  display: none; }
  .list-list.is-searching .menu-item.is-highlighted, .list-list.is-searching .menu-item.is-selected {
    display: flex; }

.list-item {
  border-top: 1px solid #ff470f;
  display: flex;
  position: relative; }

.list-name {
  display: block;
  padding: 1rem;
  transition: none; }

.list-collections {
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 0.8em;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0; }
  .list-collections a:hover {
    text-decoration: underline; }
  .list-collections strong {
    color: inherit;
    text-transform: capitalize; }

@media (min-width: 800px) {
  .list-name,
  .list-collections {
    align-items: center;
    display: flex;
    padding: 1rem; }
  .list-name {
    flex-grow: 1;
    flex-shrink: 1; }
  .list-item {
    align-items: stretch;
    justify-content: flex-start; } }

.list {
  background: #fff;
  padding-bottom: 3rem;
  position: relative; }

.tag {
  background: lavender;
  border-radius: 3px;
  color: #333333;
  display: inline-block;
  font-family: monospace, "Source Code Pro", "Consolas", "Monaco", "Courier", monospace;
  font-size: 14px;
  font-weight: 700;
  padding: 1px 6px 3px;
  vertical-align: top; }

.tag--experimental {
  background: #ffdd57;
  color: #310736; }

.tag--type {
  background: none;
  box-shadow: inset 0 0 0 1px #23d160;
  color: #23d160; }

.tag--selfclosing {
  background: none;
  box-shadow: inset 0 0 0 1px #b86bff;
  color: #b86bff; }

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  transition-duration: 300ms;
  transition-property: opacity, visibility;
  visibility: hidden; }

.modal-box {
  background: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 46rem;
  opacity: 0;
  padding: 4rem 2rem;
  position: relative;
  transform: scale(0.95);
  transform-origin: center center;
  transition-duration: 300ms;
  transition-property: opacity, transform, visibility; }

.modal-title {
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: center; }

.modal-close {
  background: #f2f2f2;
  border-radius: 290486px;
  height: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transform: rotate(45deg);
  transform-origin: center center;
  width: 3rem; }
  .modal-close:before, .modal-close:after {
    background: gray;
    content: "";
    display: block;
    position: absolute; }
  .modal-close:before {
    height: 50%;
    left: 50%;
    margin-left: -1px;
    top: 25%;
    width: 2px; }
  .modal-close:after {
    height: 2px;
    left: 25%;
    margin-top: -1px;
    top: 50%;
    width: 50%; }
  .modal-close:hover {
    background: #e6e6e6; }
  .modal-close:active {
    background: #d9d9d9; }

.modal.is-active {
  opacity: 1;
  visibility: visible; }
  .modal.is-active .modal-box {
    opacity: 1;
    transform: scale(1);
    visibility: visible; }

@media (max-width: 799px) {
  .modal-url .input {
    display: block;
    width: 100%; }
  .modal-url .button {
    margin-top: 1em; }
  .modal-social .button {
    display: block;
    margin-top: 1em; } }

@media (min-width: 800px) {
  .modal-box {
    padding: 4rem 6rem; }
  .modal-url {
    display: flex; }
    .modal-url .input {
      flex-grow: 1;
      flex-shrink: 1; }
    .modal-url .button {
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: 1em;
      padding-left: 0;
      padding-right: 0;
      width: 5.5em; }
  .modal-social {
    align-items: center;
    display: flex;
    margin-top: 1rem; }
    .modal-social .button {
      margin-right: 1em; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeAndMove {
  from {
    opacity: 0;
    transform: translateX(0); }
  to {
    opacity: 1;
    transform: translateX(200px); } }

@keyframes moveRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(200px); } }

@keyframes rotateFull {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes kf-animation-fill-mode {
  from {
    background: #23d160;
    transform: translateX(0); }
  to {
    background: #3273dc;
    transform: translateX(200px); } }

.attribute--required .attribute-name .tag {
  background: #ff4538;
  color: #fff; }

.attribute--novalue .attribute-name .tag,
.attribute--novaluebut .attribute-name .tag {
  background: #e9d1ff; }

.attribute-name .tag {
  background: lavender;
  background: #BADBFF; }

.attribute-is-required {
  color: #ff4538;
  font-size: 0.8em; }

.attribute-is-novalue {
  color: #b86bff;
  font-size: 0.8em; }

.attribute-description {
  font-size: 0.8em;
  line-height: 1.4;
  margin-top: 0.5em; }
  .attribute-description a:hover {
    text-decoration: underline; }
  .attribute-description code {
    background: #f2f2f2;
    border-radius: 2px;
    padding: 0 4px 2px;
    position: relative;
    top: -1px;
    vertical-align: baseline; }

.value-name {
  position: relative; }
  .value-name .tag {
    background: #ffdd57;
    background: #DEFF82; }
    .value-name .tag:before {
      bottom: 50%;
      left: 100%;
      transform: translateX(0) translateY(50%); }
    .value-name .tag:after {
      color: #000;
      content: "=";
      font-weight: 400;
      margin-right: 0.5em;
      opacity: 0.5;
      pointer-events: none;
      position: absolute;
      right: 100%;
      top: 0; }
    .value-name .tag:hover:before {
      transform: translateX(4px) translateY(50%); }

.value-header {
  padding-left: 1rem; }

.value-name {
  margin-bottom: 0.5em; }

.value-description {
  color: gray;
  font-size: 0.7em;
  line-height: 1.4; }
  .value-description a:hover {
    text-decoration: underline; }
  .value-description strong {
    color: inherit; }
  .value-description p,
  .value-description pre {
    margin-bottom: 0.5em; }
    .value-description p:last-child,
    .value-description pre:last-child {
      margin-bottom: 0; }
  .value-description code {
    background: #f2f2f2;
    border-radius: 2px;
    padding: 0 4px 2px;
    position: relative;
    top: -1px;
    vertical-align: baseline; }
  .value-description pre {
    background: none;
    font-size: 12px;
    line-height: 1.6;
    overflow: auto;
    padding: 1em;
    max-width: 100%; }
    .value-description pre code {
      background: none;
      padding: 0;
      position: static; }

.value-preview {
  font-size: 14px; }

.value-output a {
  text-decoration: underline; }

.value-output fieldset {
  padding: 0.5em 1em 1em; }

.value-output iframe {
  border: inset 2px #e6e6e6; }

@media (max-width: 799px) {
  .attribute {
    margin-top: 2rem;
    padding: 0 2rem; }
  .value {
    margin-top: 1rem; }
  .value-preview {
    margin-top: 0.5rem;
    padding-left: 1rem; } }

@media (min-width: 800px) {
  .attribute {
    display: flex;
    margin-top: 2rem;
    padding: 0 3rem; }
  .attribute-header {
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 1rem;
    width: 20%; }
  .attribute-values {
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%; }
  .value {
    display: flex; }
  .value + .value {
    margin-top: 1rem; }
  .value--example {
    margin-top: 0.5rem !important; }
  .value-header {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 2rem; }
  .value-preview {
    flex-shrink: 0;
    width: 30%; }
  .attribute--novalue .attribute-header {
    width: 76%; }
  .attribute--novalue .value-header {
    display: none; }
  .attribute--novalue .value-preview {
    width: 100%; } }

.element {
  background-image: linear-gradient(#ffe4db, #fff);
  background-repeat: no-repeat;
  background-size: 100% 4rem;
  border-top: 2px solid #ff470f;
  overflow: hidden;
  padding-bottom: 3rem;
  padding-top: 2rem; }

.element--experimental {
  background-image: repeating-linear-gradient(-45deg, whitesmoke, whitesmoke 10px, #fafafa 10px, #fafafa 20px);
  background-size: auto;
  border-top-color: #4d4d4d; }

.element-links {
  align-items: center;
  display: flex;
  font-size: 0.7rem;
  justify-content: flex-end;
  opacity: 0.5;
  transition-duration: 300ms;
  transition-property: opacity; }
  .element-links strong {
    text-transform: capitalize; }
  .element-links > span {
    margin-left: 1em; }
  .element-links a {
    border-bottom: 1px solid transparent;
    color: gray;
    margin-left: 1em; }
    .element-links a:before {
      left: auto;
      right: 0;
      transform: translateX(0) translateY(0);
      white-space: nowrap; }
    .element-links a:hover {
      border-bottom-color: #3273dc;
      color: #3273dc; }
      .element-links a:hover:before {
        transform: translateX(0) translateY(-4px); }
  .element-links:hover {
    opacity: 1; }

.element-name {
  font-size: 1.2rem;
  font-weight: 700; }
  .element-name a {
    border-bottom: 1px solid transparent;
    color: #333333;
    display: inline-block;
    position: relative;
    vertical-align: top; }
    .element-name a span {
      color: #e6e6e6;
      padding-right: 0.6em;
      position: absolute;
      right: 100%;
      top: 0; }
    .element-name a:hover {
      border-bottom-color: #3273dc;
      color: #3273dc; }
      .element-name a:hover span {
        color: #3273dc; }
  .element-name .tag {
    margin-left: 0.5em;
    position: relative;
    top: -1px;
    vertical-align: middle; }

.element-description code {
  background: #f2f2f2;
  border-radius: 2px;
  color: #333333;
  font-size: 0.9em;
  padding: 1px 5px 3px;
  position: relative;
  top: -1px; }

@media (max-width: 799px) {
  .element-header {
    padding-left: 2rem;
    padding-right: 2rem; }
  .element-links {
    margin-bottom: 0.5rem; } }

@media (min-width: 800px) {
  .element-header {
    padding-left: 3rem;
    padding-right: 3rem; }
  .element-links {
    float: right;
    padding: 0.25rem 0; } }

.example {
  margin-top: 1rem; }

.example-label {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between; }
  .example-label strong {
    background: #ffdd57;
    color: #310736;
    padding: 2px 6px; }
  .example-label a {
    background: #3273dc;
    color: #fff;
    padding: 2px 6px; }

.example-code {
  background: #222;
  overflow: auto;
  padding: 1rem; }
  .example-code pre {
    font-size: 13px;
    padding: 0; }

.example-output {
  background: #fff;
  border-color: #ffdd57;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #333333;
  font-size: 14px;
  padding: 1rem; }
  .example-output a {
    text-decoration: underline; }
  .example-output area:hover {
    background: black; }
  .example-output code,
  .example-output kbd,
  .example-output samp {
    background: #f2f2f2;
    border-radius: 2px;
    padding: 0 4px 2px;
    position: relative;
    top: -1px;
    vertical-align: baseline; }
  .example-output h1, .example-output h2, .example-output h3, .example-output h4, .example-output h5, .example-output h6 {
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0 0.5em; }
    .example-output h1:first-child, .example-output h2:first-child, .example-output h3:first-child, .example-output h4:first-child, .example-output h5:first-child, .example-output h6:first-child {
      margin-top: 0; }
    .example-output h1:last-child, .example-output h2:last-child, .example-output h3:last-child, .example-output h4:last-child, .example-output h5:last-child, .example-output h6:last-child {
      margin-bottom: 0; }
  .example-output h1 {
    font-size: 2em; }
  .example-output h2 {
    font-size: 1.6em; }
  .example-output h3 {
    font-size: 1.4em; }
  .example-output h4 {
    font-size: 1.2em; }
  .example-output h5 {
    font-size: 1.1em; }
  .example-output h6 {
    font-size: 1em; }
  .example-output p {
    margin: 0.5em 0; }
    .example-output p:first-child {
      margin-top: 0; }
    .example-output p:last-child {
      margin-bottom: 0; }
  .example-output main + aside {
    margin-top: 1em; }
  .example-output table td {
    border: 1px solid #e6e6e6;
    padding: 0.5em; }
  .example-output fieldset {
    padding: 0.5em 1em 1em; }
  .example-output iframe {
    border: inset 2px #e6e6e6; }

@media (max-width: 799px) {
  .example {
    padding: 0 2rem; } }

@media (min-width: 800px) {
  .example {
    padding: 0 3rem; }
  .example-preview {
    display: flex; }
  .example-output {
    border-width: 1px 0 1px 1px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .example-code {
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 2; } }

#area-example-0 .example-output img {
  height: 160px;
  width: 320px; }

#embed-example-0 .example-output embed {
  height: 240px;
  width: 320px; }

#img img {
  max-width: 360px; }

.modal {
  z-index: 50; }

.menu {
  z-index: 40; }

.footer {
  z-index: 30; }

.list {
  z-index: 20; }

.header {
  z-index: 10; }
