.example
  margin-top: 1rem

.example-label
  display: flex
  font-size: 0.7rem
  justify-content: space-between
  strong
    background: $yellow
    color: $yellow-invert
    padding: 2px 6px
  a
    background: $blue
    color: $blue-invert
    padding: 2px 6px

.example-preview
  border: 1px solid $yellow

.example-code
  background: $background
  overflow: auto
  padding: 1rem
  pre
    font-size: 14px
    padding: 0

.example-output
  background: #fff
  font-size: 14px
  padding: 1rem

+mobile
  .example
    padding: 0 2rem

+desktop
  .example
    padding: 0 3rem
