.finder
  position: relative
  .menu-search
    input
      font-size: 1rem

.finder-list
  &.is-searching
    .finder-item
      display: none
      &.is-highlighted,
      &.is-selected
        display: block

.finder-item
  align-items: stretch
  cursor: pointer
  justify-content: space-between
  position: relative
  &.is-selected
    z-index: 1
    .finder-item-link
      &,
      &:hover
        background: $primary
        color: $primary-invert

.finder-item-link
  display: block
  padding: 0.25rem 1rem
  transition: none
  &:visited
    color: $purple
  &:hover
    background: $background
  .highlight
    background: $yellow
    color: $yellow-invert

.finder-item-meta
  align-items: center
  bottom: 0
  display: flex
  justify-content: flex-end
  padding: 0 1em
  pointer-events: none
  position: absolute
  right: 0
  top: 0

.finder-tag
  border-radius: 2px
  color: rgba(0,0,0,0.48)
  font-size: 0.8em
  font-weight: normal
  line-height: 1.2
  margin-left: 0.5em
  opacity: 0.5
  padding: 2px 4px
  text-transform: lowercase

.finder-tag--experimental
  background-color: $yellow
  color: $yellow-invert
  opacity: 1

.finder-item--meta
  .finder-tag--meta
    background-color: rgba($purple, 0.29)
    color: $text-strong
    opacity: 1

.finder-item--inline
  .finder-tag--inline
    background-color: rgba($green, 0.29)
    color: $text-strong
    opacity: 1

.finder-item--block
  .finder-tag--block
    background-color: rgba($blue, 0.29)
    color: $text-strong
    opacity: 1

.finder-item--selfclosing
  .finder-tag--selfclosing
    background-color: rgba($red, 0.29)
    color: $text-strong
    opacity: 1