.header
  background-color: $background

.header-figure
  display: flex
  img:first-child
    height: 128px
    width: 128px

.header-title
  color: $text-strong
  font-size: 1.2rem
  font-weight: bold
  line-height: 1.6rem

.header-subtitle
  line-height: 1.6rem
  a
    color: inherit
  strong:first-child
    color: $primary

.header-share
  align-items: center
  display: flex
  justify-content: center
  margin-top: 30px
  .share-button
    height: 48px
    width: 48px
    svg
      height: 24px
      width: 24px

+mobile
  .header
    padding: 30px
  .header-figure
    align-items: center
    flex-direction: column
    justify-content: center
    margin-bottom: 30px
    img:last-child
      height: 40px
  .header-subtitle
    margin-top: 10px

+desktop
  .header
    padding: 60px 60px 30px
  .header-figure
    align-items: center
    justify-content: center
    margin-bottom: 30px
    img:last-child
      height: 80px
      margin-left: 20px
  .header-content
    display: flex
  .header-title
    flex-basis: 40%
    padding: 0 1rem
  .header-subtitle
    flex-basis: 60%
