<div id="modal-share" class="modal">
  <div class="modal-box">
    <p class="modal-title">Share this HTML element</p>
    <p class="modal-url">
      <input id="modal-input" class="input" type="text" value="{{site.url}}/" readonly>
      <button id="modal-copy" class="button is-primary" data-clipboard-target="#modal-input">Copy</button>
    </p>
    <p class="modal-social">
      <a id="modal-twitter" class="button is-twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fhtmlreference.io&text=HTML%20Reference%3A%20a%20guide%20to%20all%20%23HTML%20elements%20and%20attributes">Share on Twitter</a>
      <a id="modal-facebook" class="button is-facebook" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fhtmlreference.io">Share on Facebook</a>
    </p>
    <a id="modal-close" class="modal-close"></a>
  </div>
</div>
