<footer class="sisters">
  <div class="sister sister--cssreference container">
    <h4 class="sister-title">
      Check out our sister website:<br>
      <strong>CSS Reference</strong> 😃
    </h4>
    <a class="sister-banner" href="http://cssreference.io">
      <img src="{{site.url}}/images/css-reference-logo.png" alt="CSS Reference logo">
    </a>
  </div>
  <div class="sister sister--bulma container">
    <h4 class="sister-title">
      Need a CSS framework?<br>
      Try out <strong>Bulma</strong> 😎
    </h4>
    <a class="sister-banner" href="http://bulma.io">
      <img src="{{site.url}}/images/bulma-logo.png" alt="Bulma logo">
    </a>
  </div>
</footer>
