<article class="menu-item list-item" data-element-name="a">
  <a class="list-name" href="{{site.url}}/element/a">
    <span class="menu-item-name">a</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="abbr">
  <a class="list-name" href="{{site.url}}/element/abbr">
    <span class="menu-item-name">abbr</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="address">
  <a class="list-name" href="{{site.url}}/element/address">
    <span class="menu-item-name">address</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="area">
  <a class="list-name" href="{{site.url}}/element/area">
    <span class="menu-item-name">area</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="article">
  <a class="list-name" href="{{site.url}}/element/article">
    <span class="menu-item-name">article</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="aside">
  <a class="list-name" href="{{site.url}}/element/aside">
    <span class="menu-item-name">aside</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="audio">
  <a class="list-name" href="{{site.url}}/element/audio">
    <span class="menu-item-name">audio</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="b">
  <a class="list-name" href="{{site.url}}/element/b">
    <span class="menu-item-name">b</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="base">
  <a class="list-name" href="{{site.url}}/element/base">
    <span class="menu-item-name">base</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="bdi">
  <a class="list-name" href="{{site.url}}/element/bdi">
    <span class="menu-item-name">bdi</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="bdo">
  <a class="list-name" href="{{site.url}}/element/bdo">
    <span class="menu-item-name">bdo</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="blockquote">
  <a class="list-name" href="{{site.url}}/element/blockquote">
    <span class="menu-item-name">blockquote</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="body">
  <a class="list-name" href="{{site.url}}/element/body">
    <span class="menu-item-name">body</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="br">
  <a class="list-name" href="{{site.url}}/element/br">
    <span class="menu-item-name">br</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="button">
  <a class="list-name" href="{{site.url}}/element/button">
    <span class="menu-item-name">button</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="canvas">
  <a class="list-name" href="{{site.url}}/element/canvas">
    <span class="menu-item-name">canvas</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="caption">
  <a class="list-name" href="{{site.url}}/element/caption">
    <span class="menu-item-name">caption</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="cite">
  <a class="list-name" href="{{site.url}}/element/cite">
    <span class="menu-item-name">cite</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="code">
  <a class="list-name" href="{{site.url}}/element/code">
    <span class="menu-item-name">code</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="col">
  <a class="list-name" href="{{site.url}}/element/col">
    <span class="menu-item-name">col</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="colgroup">
  <a class="list-name" href="{{site.url}}/element/colgroup">
    <span class="menu-item-name">colgroup</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="data">
  <a class="list-name" href="{{site.url}}/element/data">
    <span class="menu-item-name">data</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="datalist">
  <a class="list-name" href="{{site.url}}/element/datalist">
    <span class="menu-item-name">datalist</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="dd">
  <a class="list-name" href="{{site.url}}/element/dd">
    <span class="menu-item-name">dd</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="del">
  <a class="list-name" href="{{site.url}}/element/del">
    <span class="menu-item-name">del</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="details">
  <a class="list-name" href="{{site.url}}/element/details">
    <span class="menu-item-name">details</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="dfn">
  <a class="list-name" href="{{site.url}}/element/dfn">
    <span class="menu-item-name">dfn</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="dialog">
  <a class="list-name" href="{{site.url}}/element/dialog">
    <span class="menu-item-name">dialog</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="div">
  <a class="list-name" href="{{site.url}}/element/div">
    <span class="menu-item-name">div</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="dl">
  <a class="list-name" href="{{site.url}}/element/dl">
    <span class="menu-item-name">dl</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="dt">
  <a class="list-name" href="{{site.url}}/element/dt">
    <span class="menu-item-name">dt</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="em">
  <a class="list-name" href="{{site.url}}/element/em">
    <span class="menu-item-name">em</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="embed">
  <a class="list-name" href="{{site.url}}/element/embed">
    <span class="menu-item-name">embed</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="fieldset">
  <a class="list-name" href="{{site.url}}/element/fieldset">
    <span class="menu-item-name">fieldset</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="figcaption">
  <a class="list-name" href="{{site.url}}/element/figcaption">
    <span class="menu-item-name">figcaption</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="figure">
  <a class="list-name" href="{{site.url}}/element/figure">
    <span class="menu-item-name">figure</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="footer">
  <a class="list-name" href="{{site.url}}/element/footer">
    <span class="menu-item-name">footer</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="form">
  <a class="list-name" href="{{site.url}}/element/form">
    <span class="menu-item-name">form</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h1">
  <a class="list-name" href="{{site.url}}/element/h1">
    <span class="menu-item-name">h1</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h2">
  <a class="list-name" href="{{site.url}}/element/h2">
    <span class="menu-item-name">h2</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h3">
  <a class="list-name" href="{{site.url}}/element/h3">
    <span class="menu-item-name">h3</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h4">
  <a class="list-name" href="{{site.url}}/element/h4">
    <span class="menu-item-name">h4</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h5">
  <a class="list-name" href="{{site.url}}/element/h5">
    <span class="menu-item-name">h5</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="h6">
  <a class="list-name" href="{{site.url}}/element/h6">
    <span class="menu-item-name">h6</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="head">
  <a class="list-name" href="{{site.url}}/element/head">
    <span class="menu-item-name">head</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="header">
  <a class="list-name" href="{{site.url}}/element/header">
    <span class="menu-item-name">header</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="hgroup">
  <a class="list-name" href="{{site.url}}/element/hgroup">
    <span class="menu-item-name">hgroup</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="hr">
  <a class="list-name" href="{{site.url}}/element/hr">
    <span class="menu-item-name">hr</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="html">
  <a class="list-name" href="{{site.url}}/element/html">
    <span class="menu-item-name">html</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="i">
  <a class="list-name" href="{{site.url}}/element/i">
    <span class="menu-item-name">i</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="iframe">
  <a class="list-name" href="{{site.url}}/element/iframe">
    <span class="menu-item-name">iframe</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="img">
  <a class="list-name" href="{{site.url}}/element/img">
    <span class="menu-item-name">img</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="input">
  <a class="list-name" href="{{site.url}}/element/input">
    <span class="menu-item-name">input</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="ins">
  <a class="list-name" href="{{site.url}}/element/ins">
    <span class="menu-item-name">ins</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="kbd">
  <a class="list-name" href="{{site.url}}/element/kbd">
    <span class="menu-item-name">kbd</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="label">
  <a class="list-name" href="{{site.url}}/element/label">
    <span class="menu-item-name">label</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="legend">
  <a class="list-name" href="{{site.url}}/element/legend">
    <span class="menu-item-name">legend</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="li">
  <a class="list-name" href="{{site.url}}/element/li">
    <span class="menu-item-name">li</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="link">
  <a class="list-name" href="{{site.url}}/element/link">
    <span class="menu-item-name">link</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="main">
  <a class="list-name" href="{{site.url}}/element/main">
    <span class="menu-item-name">main</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="map">
  <a class="list-name" href="{{site.url}}/element/map">
    <span class="menu-item-name">map</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="mark">
  <a class="list-name" href="{{site.url}}/element/mark">
    <span class="menu-item-name">mark</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="meta">
  <a class="list-name" href="{{site.url}}/element/meta">
    <span class="menu-item-name">meta</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="meter">
  <a class="list-name" href="{{site.url}}/element/meter">
    <span class="menu-item-name">meter</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="nav">
  <a class="list-name" href="{{site.url}}/element/nav">
    <span class="menu-item-name">nav</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="noframes">
  <a class="list-name" href="{{site.url}}/element/noframes">
    <span class="menu-item-name">noframes</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="noscript">
  <a class="list-name" href="{{site.url}}/element/noscript">
    <span class="menu-item-name">noscript</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="object">
  <a class="list-name" href="{{site.url}}/element/object">
    <span class="menu-item-name">object</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="ol">
  <a class="list-name" href="{{site.url}}/element/ol">
    <span class="menu-item-name">ol</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="optgroup">
  <a class="list-name" href="{{site.url}}/element/optgroup">
    <span class="menu-item-name">optgroup</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="option">
  <a class="list-name" href="{{site.url}}/element/option">
    <span class="menu-item-name">option</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="output">
  <a class="list-name" href="{{site.url}}/element/output">
    <span class="menu-item-name">output</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="p">
  <a class="list-name" href="{{site.url}}/element/p">
    <span class="menu-item-name">p</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="param">
  <a class="list-name" href="{{site.url}}/element/param">
    <span class="menu-item-name">param</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="picture">
  <a class="list-name" href="{{site.url}}/element/picture">
    <span class="menu-item-name">picture</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="pre">
  <a class="list-name" href="{{site.url}}/element/pre">
    <span class="menu-item-name">pre</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="progress">
  <a class="list-name" href="{{site.url}}/element/progress">
    <span class="menu-item-name">progress</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="q">
  <a class="list-name" href="{{site.url}}/element/q">
    <span class="menu-item-name">q</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="rp">
  <a class="list-name" href="{{site.url}}/element/rp">
    <span class="menu-item-name">rp</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="rt">
  <a class="list-name" href="{{site.url}}/element/rt">
    <span class="menu-item-name">rt</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="rtc">
  <a class="list-name" href="{{site.url}}/element/rtc">
    <span class="menu-item-name">rtc</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="ruby">
  <a class="list-name" href="{{site.url}}/element/ruby">
    <span class="menu-item-name">ruby</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="s">
  <a class="list-name" href="{{site.url}}/element/s">
    <span class="menu-item-name">s</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="samp">
  <a class="list-name" href="{{site.url}}/element/samp">
    <span class="menu-item-name">samp</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="script">
  <a class="list-name" href="{{site.url}}/element/script">
    <span class="menu-item-name">script</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="section">
  <a class="list-name" href="{{site.url}}/element/section">
    <span class="menu-item-name">section</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="select">
  <a class="list-name" href="{{site.url}}/element/select">
    <span class="menu-item-name">select</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="slot">
  <a class="list-name" href="{{site.url}}/element/slot">
    <span class="menu-item-name">slot</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="small">
  <a class="list-name" href="{{site.url}}/element/small">
    <span class="menu-item-name">small</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="source">
  <a class="list-name" href="{{site.url}}/element/source">
    <span class="menu-item-name">source</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="span">
  <a class="list-name" href="{{site.url}}/element/span">
    <span class="menu-item-name">span</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="strong">
  <a class="list-name" href="{{site.url}}/element/strong">
    <span class="menu-item-name">strong</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="style">
  <a class="list-name" href="{{site.url}}/element/style">
    <span class="menu-item-name">style</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="sub">
  <a class="list-name" href="{{site.url}}/element/sub">
    <span class="menu-item-name">sub</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="summary">
  <a class="list-name" href="{{site.url}}/element/summary">
    <span class="menu-item-name">summary</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="sup">
  <a class="list-name" href="{{site.url}}/element/sup">
    <span class="menu-item-name">sup</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="table">
  <a class="list-name" href="{{site.url}}/element/table">
    <span class="menu-item-name">table</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="tbody">
  <a class="list-name" href="{{site.url}}/element/tbody">
    <span class="menu-item-name">tbody</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="td">
  <a class="list-name" href="{{site.url}}/element/td">
    <span class="menu-item-name">td</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="template">
  <a class="list-name" href="{{site.url}}/element/template">
    <span class="menu-item-name">template</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="textarea">
  <a class="list-name" href="{{site.url}}/element/textarea">
    <span class="menu-item-name">textarea</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="tfoot">
  <a class="list-name" href="{{site.url}}/element/tfoot">
    <span class="menu-item-name">tfoot</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="th">
  <a class="list-name" href="{{site.url}}/element/th">
    <span class="menu-item-name">th</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="thead">
  <a class="list-name" href="{{site.url}}/element/thead">
    <span class="menu-item-name">thead</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="time">
  <a class="list-name" href="{{site.url}}/element/time">
    <span class="menu-item-name">time</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="title">
  <a class="list-name" href="{{site.url}}/element/title">
    <span class="menu-item-name">title</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="tr">
  <a class="list-name" href="{{site.url}}/element/tr">
    <span class="menu-item-name">tr</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="track">
  <a class="list-name" href="{{site.url}}/element/track">
    <span class="menu-item-name">track</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="u">
  <a class="list-name" href="{{site.url}}/element/u">
    <span class="menu-item-name">u</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="ul">
  <a class="list-name" href="{{site.url}}/element/ul">
    <span class="menu-item-name">ul</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="var">
  <a class="list-name" href="{{site.url}}/element/var">
    <span class="menu-item-name">var</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="video">
  <a class="list-name" href="{{site.url}}/element/video">
    <span class="menu-item-name">video</span>
  </a>
</article>

<article class="menu-item list-item" data-element-name="wbr">
  <a class="list-name" href="{{site.url}}/element/wbr">
    <span class="menu-item-name">wbr</span>
  </a>
</article>

