<section id="input" class="element">
  <header class="element-header">
    <h2 class="element-name">
      <a href="/#input">
        <span>#</span>
        input
      </a>
    </h2>
    <div class="element-description">
      The HTML element &lt;input&gt; is used to create interactive controls for web-based forms in order to accept data from the user. How an &lt;input&gt; works varies considerably depending on the value of its type attribute.
    </div>
  </header>

  <article class="attribute attribute--required">
    <div class="attribute-header">
      <h3 class="attribute-name">
        <span class="tag">type</span>
      </h3>
      <div class="attribute-description">
        <p>Defines the type of form input.</p>
        <strong class="attribute-is-required">Required.</strong>
      </div>
    </div>
    <div class="attribute-values">
      <article class="value">
        <header class="value-header">
          <h4 class="value-name">
            <span class="tag">"text"</span>
          </h4>
          <div class="value-description">
            <p>Simple single line text input that accepts any type of character.</p>
          </div>
        </header>
        <aside class="value-preview">
          <div class="value-output"><input type="text"></div>
        </aside>
      </article>
      <article class="value">
        <header class="value-header">
          <h4 class="value-name">
            <span class="tag">"checkbox"</span>
          </h4>
          <div class="value-description">
            <p>A toggle checkbox that can only return one of two values: checked or unchecked.</p>
          </div>
        </header>
        <aside class="value-preview">
          <div class="value-output"><input type="checkbox"></div>
        </aside>
      </article>
      <article class="value">
        <header class="value-header">
          <h4 class="value-name">
            <span class="tag">"radio"</span>
          </h4>
          <div class="value-description">
            <p>Needs to be used used in combination with other radio buttons, so that they are mutually exclusive.</p>
          </div>
        </header>
        <aside class="value-preview">
          <div class="value-output"><input type="radio"></div>
        </aside>
      </article>
      <div class="value value--example">
        <header class="value-header">
          <div class="value-description">
            <p>You link radio buttons through a similar <strong>name</strong> attribute:</p>
<pre class="value-code">&lt;label&gt;
  &lt;input type=&quot;radio&quot; name=&quot;newsletter&quot; value=&quot;yes&quot;&gt;
  Yes
&lt;/label&gt;
&lt;label&gt;
  &lt;input type=&quot;radio&quot; name=&quot;newsletter&quot; value=&quot;no&quot;&gt;
  No
&lt;/label&gt;</pre>
            <p>Notice how clicking one deselects the other.</p>
          </div>
        </header>
        <aside class="value-preview">
          <div class="value-output">
<label>
  <input type="radio" name="newsletter" value="yes">
  Yes
</label>
<label>
  <input type="radio" name="newsletter" value="no">
  No
</label>
          </div>
        </aside>
      </div>
    </div>
  </article>

  <article class="attribute">
    <div class="attribute-header">
      <h3 class="attribute-name">
        <span class="tag">placeholder</span>
      </h3>
      <div class="attribute-description">
        <p>Define a non-selectable placeholder text that only appears when the input is empty.</p>
      </div>
    </div>
    <div class="attribute-values">
      <article class="value">
        <header class="value-header">
          <h4 class="value-name">
            <span class="tag">"e.g. alex@smith.com"</span>
          </h4>
          <div class="value-description">
            <p>Simple single line text input that accepts any type of character.</p>
          </div>
        </header>
        <aside class="value-preview">
          <div class="value-output"><input type="text"></div>
        </aside>
      </article>
    </div>
  </article>
</section>
